@page "/buttontest"
@page "/buttons"

<h3>@title</h3>

<div class="form-group">
    <div class="container">
        <div class="btn-toolbar">
            <CustomEditButtonComponent OnClick="ChangeTitle" Caption="Delete" Color="primary" />
            <CustomEditButtonComponent OnClick="ShowConfirmation" Caption="Show Message" Color="danger" />
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    IModalService Modal { get; set; }

    [Inject] ModalManager ModalManager { get; set; }

    private string title = "";
    
    private async void ChangeTitle()
    {
        await ModalManager.ShowMessageAsync("Show Message Title", "Deleted!", 3000);
    }
    
    private async Task ShowConfirmation()
    {
        bool result = await ModalManager.ConfirmationAsync("Confirmation", "Are you sure that it will be deleted?");
    
        title = result ? "Yes" : "No";
    }
}