@page "/buttontest"
@page "/buttons"

<h3>ButtonTest</h3>

<div class="form-group">
    <div class="container">
        <div class="btn-toolbar">
            <CustomEditButtonComponent ButtonText="Edit 1" Color="secondary"/>
            <CustomEditButtonComponent ButtonText="Edit 2" Color="primary"/>
            <button class="btn btn-danger">Danger Button</button>
        </div>
    </div>
</div>

@code {
    
}